extends layout

block content
	h1 userInput Page
	form(enctype="multipart/form-data" method="post" action="/user" )
		div
			div
				span userId:
				input(type="text",name="userId")
			div
				span userNicName:
				input(type="text",name="userNicName")
			div
				span token:
				input(type="text",name="token")
			div
				span file:
				input(type="file",name="file")
			div
				input(type="submit",value="Send")
